<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger menu-formatting" href="#biography">Biography</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger menu-formatting" href="#gallery">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="my-0 text-uppercase">FLAMINGOVSKI</h1>
        </div>
    </div>
 </header>
 <!-- About Section -->
 <section id="biography" class="about-section text-center">
    <div id="about_container" class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-white mb-4">Biography</h2>
                <p class="text-white-50" style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed enim non tellus 
                    posuere dignissim. Nam dictum ligula vel nisl fringilla placerat. Quisque 
                    suscipit mollis massa at molestie.<br /> In mollis sem id libero ultrices ultricies.
                    Pellentesque elementum, tortor vitae tincidunt tristique, tellus est rhoncus eros, 
                    eget placerat ante nulla non purus. Aliquam enim est, tincidunt sed semper eu, 
                    iaculis sed diam. Nulla facilisi. <br /> Vivamus dapibus, purus efficitur luctus 
                    tincidunt, lorem erat eleifend neque, vel iaculis diam massa vitae mauris.
                    Nam dictum consequat felis. Donec ultrices risus non luctus efficitur. 
                    Sed eleifend massa eget metus ornare, sodales ultrices turpis euismod. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Proin eu facilisis lacus. Vivamus ut ullamcorper metus, ac facilisis urna.<br />
                </p>
            </div>
            <div class="col-lg-3">
                <img src="assets/img/avtor.png" style="margin-top:28%" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12">
                <p class="text-white-50" style="text-align: justify">
                    Curabitur in turpis neque. Nullam a nisl mattis, scelerisque turpis at, feugiat velit. 
                    Curabitur quis nunc congue, scelerisque felis at, consequat erat. Sed non orci ut 
                    velit faucibus mollis sed sed dolor. In hac habitasse platea dictumst.<br /> Sed
                    ullamcorper quam ac elit imperdiet, et sagittis ex lobortis. Vestibulum mattis est 
                    nec efficitur aliquet. Ut eu est ut magna sollicitudin elementum.<br />
                    Nam sit amet consequat risus. Nulla bibendum ligula id ornare facilisis

                </p>
            </div>
        </div>
    </div>
</section>
